# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\dimka\Desktop\java\EDUCATIONAL_PROJECTS\JAVA\JetBrainsAcademy\Tic-Tac-Toe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
