# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\dimka\Documents\EDUCATIONAL_PROJECTS\JAVA\SPBSTU PROJECTS\Math.Stat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
